{% extends "_venuebase.html" %}

{% block content %}

Gigerator is a site to allow musicians (and their tour personnel) to rate the venues they play. We wanted to create a space for musicians to help each other by sharing information about the strengths and weaknesses of a gig.

<br>
<br>
<br>

<b>Technology:</b><br>
This site is powered by Python, Django, PostgreSQL, and Heroku

<br>
<br>
<b>Logo:</b><br>
Logo created with logomakr.com

<br>
<br>
<b>Data Sources:</b><br>
Data from Setlist.fm, Pollstar.com, and the Google Places API.

<br>
<br>
<b>We Are:</b><br>
Greg Paulos - rock nerd and aspiring web-developer.

<br>
<br>
Hina Chowdhry - road manager for sundry bands, merch-pusher extraordinaire, and all around mastermind.





<br>
<br>
{% endblock %}
